[submodule "URL"]
	path = URL
	url = git@github.com:Valota/data-syntax-URL.git
[submodule "wall"]
	path = wall
	url = git@github.com:Valota/data-syntax-wall.git
[submodule "twitter"]
	path = twitter
	url = git@github.com:Valota/data-syntax-twitter.git
[submodule "news-with-images-and-paragraphs"]
	path = news-with-images-and-paragraphs
	url = git@github.com:Valota/data-syntax-news-with-images-and-paragraphs.git
[submodule "interactive-bulletin-board"]
	path = interactive-bulletin-board
	url = git@github.com:Valota/data-syntax-interactive-bulletin-board.git
[submodule "instagram"]
	path = instagram
	url = git@github.com:Valota/data-syntax-instagram.git
[submodule "health-and-safety"]
	path = health-and-safety
	url = git@github.com:Valota/data-syntax-health-and-safety.git
[submodule "facebook"]
	path = facebook
	url = git@github.com:Valota/data-syntax-facebook.git
[submodule "google-analytics"]
	path = google-analytics
	url = git@github.com:Valota/data-syntax-google-analytics.git
[submodule "google-calendar-tasks"]
	path = google-calendar-tasks
	url = git@github.com:Valota/data-syntax-google-calendar-tasks.git


[submodule "table"]
	path = table
	url = git@github.com:Valota/data-syntax-table.git
[submodule "oauth2-access-token"]
	path = oauth2-access-token
	url = git@github.com:Valota/data-syntax-oauth2-access-token.git
[submodule "linkedin"]
	path = linkedin
	url = git@github.com:Valota/data-syntax-linkedin.git
[submodule "stock"]
	path = stock
	url = git@github.com:Valota/data-syntax-stock.git
[submodule "yammer"]
	path = yammer
	url = git@github.com:Valota/data-syntax-yammer.git
[submodule "jira-issues"]
	path = jira-issues
	url = git@github.com:Valota/data-syntax-jira-issues.git
