[submodule "URL"]
	path = URL
	url = git@github.com:Valota/data-syntax-URL.git
[submodule "wall"]
	path = wall
	url = git@github.com:Valota/data-syntax-wall.git
[submodule "twitter"]
	path = twitter
	url = git@github.com:Valota/data-syntax-twitter.git
[submodule "news-with-images-and-paragraphs"]
	path = news-with-images-and-paragraphs
	url = git@github.com:Valota/data-syntax-news-with-images-and-paragraphs.git
[submodule "interactive-bulletin-board"]
	path = interactive-bulletin-board
	url = git@github.com:Valota/data-syntax-interactive-bulletin-board.git
[submodule "instagram"]
	path = instagram
	url = git@github.com:Valota/data-syntax-instagram.git
[submodule "health-and-safety"]
	path = health-and-safety
	url = git@github.com:Valota/data-syntax-health-and-safety.git
[submodule "facebook"]
	path = facebook
	url = git@github.com:Valota/data-syntax-facebook.git
[submodule "google-analytics"]
	path = google-analytics
	url = git@github.com:Valota/data-syntax-google-analytics.git
[submodule "google-calendar-tasks"]
	path = google-calendar-tasks
	url = git@github.com:Valota/data-syntax-google-calendar-tasks.git


[submodule "table"]
	path = table
	url = git@github.com:Valota/data-syntax-table.git
[submodule "oauth2-access-token"]
	path = oauth2-access-token
	url = git@github.com:Valota/data-syntax-oauth2-access-token.git
[submodule "linkedin"]
	path = linkedin
	url = git@github.com:Valota/data-syntax-linkedin.git
[submodule "stock"]
	path = stock
	url = git@github.com:Valota/data-syntax-stock.git
[submodule "yammer"]
	path = yammer
	url = git@github.com:Valota/data-syntax-yammer.git
[submodule "jira-issues"]
	path = jira-issues
	url = git@github.com:Valota/data-syntax-jira-issues.git
[submodule "combined-apps"]
	path = combined-apps
	url = git@github.com:Valota/data-syntax-combined-apps.git
[submodule "data-syntax-comparison-matrix"]
	path = data-syntax-comparison-matrix
	url = git@github.com:Valota/data-syntax-comparison-matrix.git
[submodule "comparison-matrix"]
	path = comparison-matrix
	url = git@github.com:Valota/data-syntax-comparison-matrix.git
[submodule "custom-source"]
	path = custom-source
	url = git@github.com:Valota/data-syntax-custom-source.git
[submodule "dcv"]
	path = dcv
	url = git@github.com:Valota/data-syntax-dcv.git
[submodule "external-source"]
	path = external-source
	url = git@github.com:Valota/data-syntax-external-source.git
[submodule "feedback-conversation"]
	path = feedback-conversation
	url = git@github.com:Valota/data-syntax-feedback-conversation.git
[submodule "key-metrics"]
	path = key-metrics
	url = git@github.com:Valota/data-syntax-key-metrics.git
[submodule "media-monitor"]
	path = media-monitor
	url = git@github.com:Valota/data-syntax-media-monitor.git
[submodule "neste-safety-data"]
	path = neste-safety-data
	url = git@github.com:Valota/data-syntax-neste-safety-data.git
[submodule "neste-utilization-data"]
	path = neste-utilization-data
	url = git@github.com:Valota/data-syntax-neste-utilization-data.git
[submodule "okr-grading"]
	path = okr-grading
	url = git@github.com:Valota/data-syntax-okr-grading.git
[submodule "okr-tracking"]
	path = okr-tracking
	url = git@github.com:Valota/data-syntax-okr-tracking.git
[submodule "single-number-graph"]
	path = single-number-graph
	url = git@github.com:Valota/data-syntax-single-number-graph.git
[submodule "weather"]
	path = weather
	url = git@github.com:Valota/data-syntax-weather.git
[submodule "wordcloud"]
	path = wordcloud
	url = git@github.com:Valota/data-syntax-wordcloud.git
